.arr-viewer td, .arr-viewer tr {
    margin: 0px;
    padding: 0px;
}

.arr-cells td {
    text-align: center;
    border: 1px solid #ccc;
    background: #eee;
    height: 28px;
    min-width: 28px;
}

.arr-index {
    font-size: 8px;
    color: #888;
    margin: 0 0 0 2px;
    text-align: left;
}

.arr-pointers td {
    text-align: center;
    height: 30px;
    font-family: courier;
    font-size: 12px;
}

.arr-pointers td.active {
    padding-bottom: 16px;
    background: transparent url("../img/av-downarrow.gif") no-repeat center bottom;
}
